.text {
    color:#74546a;
    font-size:28px;
    font-family:Tahoma;
}

.header {
    font-size:60px;
    font-style:italic;
    font-family:Tahoma;
}

.link {
    color:#0b032d;;
    background-color:#74546a;
    border-style:solid;
}


p {
    background-color:#0b032d;
    font-style:normal;
    border-style:solid;
}

h1 {
    color:#843b62;
    font-family:Tahoma;
    text-align:center
}

h2 {
    font-style:oblique;
    font-family:Tahoma;
    font-size:20px;
}

.images {
    text-align:center;
}
